@tailwind base;
@tailwind components;
@tailwind utilities;
.hero__ai {
	background: -webkit-linear-gradient(
		221.92deg,
		#3d2278 23.66%,
		rgba(61, 34, 120, 0.3) 88%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero {
	background-image: url("../public/Gradient\ Group.png");
}
