@tailwind base;
@tailwind components;
@tailwind utilities;
.btn {
	@apply shadow-[0px_4px_30px_0px_#3754F026];
}
.faqs {
	box-shadow: 0px 2px 15px 0px #0f101714;
}
.rtrs-star-container {
	gap: 1.125rem !important;
	flex-wrap: wrap;
}
.tabs::-webkit-scrollbar {
	display: none; /* Hides the scrollbar */
}
.tab {
	background: linear-gradient(
		111.61deg,
		#ffffff 15.17%,
		#f9f9f9 55.5%,
		#fafafa 95.84%
	);
	backdrop-filter: blur(13px);
	box-shadow: 0px 0px 12px 0px #0f0a191a;
}
.hero__ai {
	background: -webkit-linear-gradient(
		221.92deg,
		#3d2278 23.66%,
		rgba(61, 34, 120, 0.3) 88%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero {
	background-image: url("../public/Gradient\ Group.webp");
	z-index: -1;
}
.workoutbg {
	background-image: url("../public/workoutbg.png");
}
.borderButton {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%2300B2FFFF' stroke-width='5' stroke-dasharray='10%2c 20' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
	border-radius: 18px;
}
.borderUpload {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%233D2278FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
	border-radius: 12px;
}
.reviewbg {
	background-image: url("../public/bg\ review.png");
	background-position: center center;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
}
.feature {
	background-image: linear-gradient(
			0deg,
			rgba(61, 34, 120, 0.75),
			rgba(61, 34, 120, 0.75)
		),
		linear-gradient(0deg, rgba(15, 10, 25, 0.4), rgba(15, 10, 25, 0.4)),
		url("../public/features.webp");
}
.card {
	background: linear-gradient(
		111.61deg,
		rgba(173, 161, 201, 0.24) 15.17%,
		rgba(142, 125, 179, 0.3) 95.84%
	);
	backdrop-filter: blur(13px);
	box-shadow: -3px 11px 41px 0px #9f9f9f26;
}
.tcard {
	background: linear-gradient(
		111.61deg,
		rgba(255, 255, 255, 0.6) 15.17%,
		rgba(255, 255, 255, 0.4) 95.84%
	);
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 27px 0px #0f101714;
	border-radius: 20px;
	padding: 25px;
	max-width: 360px;
}
.slick-list {
	padding: 0 50px 60px 0 !important;
}

.slick-dots {
	display: flex !important
	;
}

.slick-slide:not(.slick-active) {
	backdrop-filter: blur(18px);
	opacity: 0.4;
}
.slick-dots li:not(slick-active) {
	margin-right: 1rem !important;
}
.slick-dots li button:before {
	content: " " !important;
}
.slick-dots li button {
	background: rgba(61, 34, 120, 0.2) !important;
	border-radius: 9999px;
}
.slick-dots li:not(slick-active) button {
	height: 20px !important;
}
.slick-dots li.slick-active button {
	background: #3d2278 !important;
	width: 45px !important;
	border-radius: 8px !important;
	height: 20px !important;
	opacity: 1 !important;
}
.slick-dots li:has(.slick-active) {
	margin-right: 1rem !important;
}
.slick-dots li {
	width: max-content !important;
	height: 0 !important;
}
.slick-slide > div {
	margin-inline: 10px;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
